{% extends 'expense/base.html'%}
{% block content %}

<br>
<button onclick = "window.print()" > Print </button><br><hr>

<div class="row">
    <div class="col-md-6">
            <table class="table-box">
                <thead>
                    <tr>
                        <th>id </th>
                        <th>Category </th>
                        <th>Sub Category </th>
                        <th>Amount </th>
                        <th>Date </th>
                        <th>Remarks</th>
                        <th>*</th>
                    </tr>
                </thead>  
                
                <tbody>
                {% for i in exp%}
                
                    <tr>
                        <td> {{i.id}} </td>
                        <td> {{i.cat_code.cat_name}} </td>
                        <td> {{i.sub_code.sub_name}} </td>
                        <td> {{i.amount}} </td>
                        <td> {{i.date_created}} </td>
                        <td> {{i.remarks}} </td>
                        <td> <a style = "color:Red;" href="#"> Delete </a> </td>
                    </tr>
                
                {% endfor %}
                </tbody>

                <!--tr>
                    <td></td>
                    <td style = "color:Red; text-align:right;">Total</td>
                    <td style = "color:Red; text-align:right;">{{total.amount__sum}}</td>
                    <td></td>
                </tr-->
            </table>
    </div>
</div>


{% endblock %}