<style>
  .hello-navbar{
    font-size : 18px;
    color : #fff;
    margin-right : 20px;
  }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--a class="navbar-brand" href="#">Navbar</a-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Data Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view'%}">View </a>
      </li>
      <li class = "nav_item">
        <a class = "nav-link" href = "{%url 'expense'%}"> Expense Details </a>
      </li>

      <li class = "nav_item">
        <a class = "nav-link" href = "{%url 'board'%}"> Dashboard </a>
      </li>

    </ul>
  </div>

  <span class="hello-navbar">Hello, {{request.user.first_name}}</span>
  <span ><a  class="hello-navbar" href="{% url 'logout' %}">Logout</a></span>

</nav>